@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin:0px;
    padding:0px;
}

body{
    background-color: grey;
}

nav{
    
    font-family: 'Ubuntu', sans-serif;
}

#navigation-button-1{
    color: white;
    border-radius: 34px;
    margin-right: 12px;
}

#navigation-button-2{
    color: white;
    border-radius: 34px;
}

#navigation-button-1:hover{
    transition: all 0.15s ease-in;
    color: black;
    background-color: white;
}

#navigation-button-2:hover{
    transition: all 0.15s ease-in;
    color: black;
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height:55px;
    background-color: black;
    color:white;
}

nav ul li{
    padding:0 12px;
    cursor: pointer;
}

.brand img{
    width: 44px;
    padding: 0 5px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('covers/bg (2).jpg');
    background-size: cover;
}

.gifPlay{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Ubuntu', sans-serif;
}

.songInfo img{
    width: 42px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songInfo span{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songTime{
    position: absolute;
    right: 10vw;
    font-family: 'Ubuntu', sans-serif;
    
}

.songTime span{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#songName{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 64px;
}

.songItemContainer button{
    margin-left: 610px;
    cursor: pointer;
    padding: 5px 13px;
    width: 10%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 8px;
}

.songItemContainer button:hover{
    transition: all 0.15s ease-in;
    color: black;
    background-color: white;
    font-weight: bold;
}

.songItem{
    height:50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width:43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timeStamp{
    margin: 0 23px;
    padding: 0 8px; 
}

.timeStamp i{
    cursor: pointer;
}